$dark-grey: hsl(210, 10%, 33%);
$light-grey: hsl(201, 11%, 66%);

@mixin to-center{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    list-style: none;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
}

.front-page{
    background: url("../images/bg-header-desktop.png") no-repeat;
    @include to-center();
    .principal-content{
        flex-direction: column;
        width: 50%;
        margin-top: 100px;
        .principal-title{
            font-size: 45px;
            font-weight: 600;
            color: hsl(210, 10%, 33%);
            margin: 40px 0px 20px 0px;
        }
        .grey-text{
            color: hsl(201, 11%, 66%);
            font-size: 18px;
            font-weight: 400;
            margin-bottom: 60px;
            line-height: 30px;
        }
        .buttons-wrapper{
            margin-bottom: 200px;
            .green-btn{
                background-color: hsl(171, 66%, 44%);
                color: white;
                font-size: 16px;
                border-radius: 50px;
                padding: 15px 30px;
                font-weight: bold;
                margin: 0px 10px;
            }
            .blue-btn{
                background-color: hsl(233, 100%, 69%);
                color: white;
                font-size: 16px;
                border-radius: 50px;
                padding: 15px 30px;
                font-weight: bold;
                margin: 0px 10px;
            }
        }
        .subtitle-paragraph{
            margin-bottom: 50px;
            .subtitle{
                font-size: 35px;
                color: $dark-grey;
                font-weight: 600;
                margin-bottom: 30px;
            }
            
        }
    }
}

.three-options{
    display: flex; 
    .img-wrapper{
        width:700px;
        overflow:hidden;
        margin:0;
        .monitor{
            display: block;
            width: 100%;
            margin:0 -4%;
        }
    }   
    .options-wrapper{
        width: 30%;
        margin-top: 50px;
        padding-left: 60px;
        .option{
            margin-bottom: 40px;
            .option-title{
                color: $dark-grey;
                font-size: 22px;
                font-weight: bold;
                margin-bottom: 10px;
            }
            .option-text{
                color: $light-grey;
                font-size: 16px;
                line-height: 25px;
            }
        }
    }
}

.middle{
    flex-direction: column;
    @include to-center();
    margin-top: 120px;
    .subtitle-paragraph{
        margin-bottom: 60px;
        width: 50%;
        .subtitle{
            font-size: 35px;
            color: $dark-grey;
            font-weight: 600;
            margin-bottom: 30px;
        }
        .grey-text{
            color: hsl(201, 11%, 66%);
            font-size: 18px;
            font-weight: 400;
            line-height: 30px;
        }
    }
    .devices-img{
        width: 60%;
    }
}

.workflow{
    flex-direction: column;
    @include to-center();
    margin-top: 120px;
    .subtitle-paragraph{
        margin-bottom: 60px;
        width: 50%;
        .subtitle{
            font-size: 35px;
            color: $dark-grey;
            font-weight: 600;
            margin-bottom: 25px;
        }
        .grey-text{
            color: hsl(201, 11%, 66%);
            font-size: 18px;
            font-weight: 400;
            line-height: 30px;
        }
    }
    .tools-wrapper{
        display: flex;
        width: 75%;
        margin-bottom: 120px;
        @include to-center();
        .tool{
            width: 30%;
            justify-content: space-around;
            .tool-title{
                color: $dark-grey;
                font-size: 22px;
                font-weight: bold;
                margin-bottom: 10px;
            }
            .tool-text{
                color: $light-grey;
                font-size: 16px;
                line-height: 25px;
            }
        }
    }
    .companies-logos{
        @include to-center();
        width: 75%;
        justify-content: space-around;
        margin-bottom: 130px;
    }
}