html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 18px;
}

.front-page {
  background: url("../images/bg-header-desktop.png") no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.front-page .principal-content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  margin-top: 100px;
}

.front-page .principal-content .principal-title {
  font-size: 45px;
  font-weight: 600;
  color: #4c545d;
  margin: 40px 0px 20px 0px;
}

.front-page .principal-content .grey-text {
  color: #9fabb2;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 60px;
  line-height: 30px;
}

.front-page .principal-content .buttons-wrapper {
  margin-bottom: 200px;
}

.front-page .principal-content .buttons-wrapper .green-btn {
  background-color: #26baa4;
  color: white;
  font-size: 16px;
  border-radius: 50px;
  padding: 15px 30px;
  font-weight: bold;
  margin: 0px 10px;
}

.front-page .principal-content .buttons-wrapper .green-btn:hover {
  -webkit-box-shadow: 1px 6px 0px -1px #1e9483;
          box-shadow: 1px 6px 0px -1px #1e9483;
}

.front-page .principal-content .buttons-wrapper .blue-btn {
  background-color: #6173ff;
  color: white;
  font-size: 16px;
  border-radius: 50px;
  padding: 15px 30px;
  font-weight: bold;
  margin: 0px 10px;
}

.front-page .principal-content .buttons-wrapper .blue-btn:hover {
  -webkit-box-shadow: 1px 6px 0px -1px #4d5ccc;
          box-shadow: 1px 6px 0px -1px #4d5ccc;
}

.front-page .principal-content .subtitle-paragraph {
  margin-bottom: 50px;
}

.front-page .principal-content .subtitle-paragraph .subtitle {
  font-size: 35px;
  color: #4c545d;
  font-weight: 600;
  margin-bottom: 30px;
}

.three-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.three-options .img-wrapper {
  width: 700px;
  overflow: hidden;
  margin: 0;
}

.three-options .img-wrapper .monitor {
  display: block;
  width: 100%;
  margin: 0 -4%;
}

.three-options .options-wrapper {
  width: 30%;
  margin-top: 50px;
  padding-left: 60px;
}

.three-options .options-wrapper .option {
  margin-bottom: 40px;
}

.three-options .options-wrapper .option .option-title {
  color: #4c545d;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.three-options .options-wrapper .option .option-text {
  color: #9fabb2;
  font-size: 16px;
  line-height: 25px;
}

.middle {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: 120px;
}

.middle .subtitle-paragraph {
  margin-bottom: 60px;
  width: 50%;
}

.middle .subtitle-paragraph .subtitle {
  font-size: 35px;
  color: #4c545d;
  font-weight: 600;
  margin-bottom: 30px;
}

.middle .subtitle-paragraph .grey-text {
  color: #9fabb2;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.middle .devices-img {
  width: 60%;
}

.workflow {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: 120px;
}

.workflow .subtitle-paragraph {
  margin-bottom: 60px;
  width: 50%;
}

.workflow .subtitle-paragraph .subtitle {
  font-size: 35px;
  color: #4c545d;
  font-weight: 600;
  margin-bottom: 25px;
}

.workflow .subtitle-paragraph .grey-text {
  color: #9fabb2;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.workflow .tools-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  margin-bottom: 120px;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.workflow .tools-wrapper .tool {
  width: 30%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.workflow .tools-wrapper .tool .tool-title {
  color: #4c545d;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.workflow .tools-wrapper .tool .tool-text {
  color: #9fabb2;
  font-size: 16px;
  line-height: 25px;
}

.workflow .companies-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 75%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 130px;
}

.last-section {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.last-section .subtitle-paragraph {
  margin-bottom: 60px;
  width: 50%;
}

.last-section .subtitle-paragraph .subtitle {
  font-size: 35px;
  color: #4c545d;
  font-weight: 600;
  margin-bottom: 25px;
}

.last-section .subtitle-paragraph .grey-text {
  color: #9fabb2;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.last-section .buttons-wrapper {
  margin-bottom: 180px;
}

.last-section .buttons-wrapper .green-btn {
  background-color: #26baa4;
  color: white;
  font-size: 16px;
  border-radius: 50px;
  padding: 15px 30px;
  font-weight: bold;
  margin: 0px 10px;
}

.last-section .buttons-wrapper .green-btn:hover {
  -webkit-box-shadow: 1px 6px 0px -1px #1e9483;
          box-shadow: 1px 6px 0px -1px #1e9483;
}

.last-section .buttons-wrapper .blue-btn {
  background-color: #6173ff;
  color: white;
  font-size: 16px;
  border-radius: 50px;
  padding: 15px 30px;
  font-weight: bold;
  margin: 0px 10px;
}

.last-section .buttons-wrapper .blue-btn:hover {
  -webkit-box-shadow: 1px 6px 0px -1px #4d5ccc;
          box-shadow: 1px 6px 0px -1px #4d5ccc;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .logo-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f3f3f3;
  padding: 60px 100px 40px 100px;
}

footer .logo-links .logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer .logo-links .logo-wrapper .small-logo {
  width: 20%;
  margin-right: 100px;
}

footer .logo-links .footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 70px;
}

footer .logo-links .footer-links .footer-link {
  color: #4c545d;
  font-weight: bold;
  margin-bottom: 20px;
}

footer .logo-links .footer-links .footer-link:hover {
  text-decoration: underline;
}

footer .logo-links .socialmedia-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .logo-links .socialmedia-wrapper .sm-link {
  padding: 0 10px;
}

footer .challenge-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 10px 0px;
}

footer .challenge-data a {
  color: #6173ff;
}
/*# sourceMappingURL=styles.css.map */